body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
 
ul {
  list-style-type: none;
  text-align: left;
  display: center;
}
 

.question {
  text-align: center;
  margin: 20px;
}

h4 {
	color: white; 
	float: right; 
}